/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* index */
.cover {
  width: 200px;
}
.song__title {
  cursor: pointer;
}
/* animation 
* source: https://youtu.be/gWai7fYp9PY
*/
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}
main {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}
#outside {
  border: 1px solid black;
  height: 20px;
  background-color: silver;
  width: 500px;
  position: relative;
}
#inside {
  width: 0px;
  height: 100%;
  background-color: firebrick;
  overflow: visible;
  color: white;
  white-space: nowrap;
}
#currentTime {
  position: absolute;
  left: 0;
}
#songDuration {
  position: absolute;
  right: 0;
}

.bike-guy {
}
.audio-player {
  height: 100px;
}
.audio-element {
  visibility: hidden;
}
footer {
  height: 50px;
}

.paused {
  animation-play-state: paused !important;
}
#right-wheel,
#left-wheel {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#man-bike {
  animation: bike 0.4s ease-out infinite alternate;
  transform-origin: bottom;
}
#hat {
  animation: hat 0.4s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}
@keyframes hat {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(20%) rotateZ(5deg);
  }
}
